- console.log(_.keys(collections))
- order = ['insulation series', 'new flesh', 'incorruptible flesh', 'skins', 'skins (studies)', 'paintings', 'slides']
mixin portfolio-page(collection)
  - collection = _.sortBy(collection, function(artwork) { new Date(artwork.created_at) })
  .portfolio_page
    ul.artworks.clearfix
      for artwork in _.sortBy(collection, function(a) { return a.title })
        - image = artwork.images && artwork.images.length && artwork.images.filter(function(image) { return image.is_default == true })[0]
        if image && image.image_url
          - landscape = image.aspect_ratio > 1.5
          if landscape
            li.landscape_placeholder
          li(
            data-id=artwork.id
            class=landscape ? 'landscape' : ''
          )
            img(
              src=image.image_url.replace(':version', 'large'),
              data-large_src=image.image_url.replace(':version', 'larger')
              data-orientation=image.aspect_ratio > 1 ? 'landscape' : 'portrait'
            )
            .caption
              = artwork.title.trim()
              | ,&nbsp;
              = artwork.date
              br
              = artwork.medium
              br
              | #{artwork.height} x #{artwork.width} #{artwork.metric}

html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Julia Colavita
    meta(name='description', content='Julia Colavita (b. 1983) is a painter and sculptor based in Brooklyn, New York.')
    meta(name='author', content='Julia Colavita')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel="stylesheet" type="text/css" href="/main.css")
  body
    #container
      header
        h1
          a(href='./') Julia Colavita
        nav.clearfix
          a(href='bio.pdf', target='_blank')
            | BIO
            span.pdf [PDF]
          a(href='cv.pdf', target='_blank')
            | CV
            span.pdf [PDF]
          a(href='mailto:juliacolavita@gmail.com') juliacolavita@gmail.com
      #main(role='main', target='_blank')
        #portfolio
          #portfolio_nav_container
            nav.clearfix
              for name in order
                a( href='#' )= _.capitalize(name)
              a( href='video-section' ) Video
          #portfolio_page_container.clearfix
            for name in order
              mixin portfolio-page(collections[name])
            .portfolio_page
              .video-section
                iframe(src='https://player.vimeo.com/video/150549691?color=ffffff&title=0&byline=0&portrait=0', width='800', height='448', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                .video-section-body
                  h4 Gem Drug
                  p The 6 ½ minute psychedelic journey of <em>GEM DRUG</em> probes the cultural significance of gems and crystals as luxury items, spiritual objects, and commercial fetishes. Acting as modern day Robin Hoods, the main characters, played by Adam and Julia, set forth on an intense journey to 'return the gems back to the inside’'. Using their own bodies as a metaphor for the Earth, they 'eat them, drink them, and absorb them into their pores’ in a ritual of playful carnality.
                .video-section-details
                  p Written & performed by:<br>Adam Chad Brody & Julia Colavita
                  p First screened at WARM Sao Paolo, March 2015.
                  p Also screened in New York City at NEW RELEASE (June 2015) and Garis & Hahn Summer Window Series (August 2015)
          #lightbox
            .img_container
              img(src='large_img')
              .caption
            button#close_lightbox ✕
      footer

    #scripts
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js')
      script(src='/main.js')
